
<dl class="dl">
	{{#each tags}}
		<dt>
			<a href="#" class="remove-tag" data-id="{{id}}">
				<i class="icon-trash"></i>
			</a>
		<!--
			<a href="#" class="edit-tag" data-id="{{id}}">
				<i class="icon-pencil"></i>
			</a>
		-->
			<div class="editable key" data-id="{{id}}" contenteditable="true">{{this.title}}</div>
		</dt>
		<dd>
			<div class="editable value" data-id="{{id}}" contenteditable="true">{{this.desc}}</div>
		</dd>
	{{/each}}

<a href="#" class="edit-add" data-id="{{id}}">
			<i class="icon-plus"></i>
</a>
{{#if tags}}
{{else}}
	<p>Click a polygon to see and edit it's data</p>
{{/if}}
<!--
<select>
	<option>Area Tipo 1</option>
	<option>Area Tipo 2</option>
	<option>Area Tipo 4</option>
</select>
<span>{{edit}}</span>
<input type="text" value="{{edit.title}}" placeholder="title"/>
<textarea placeholder="description">{{edit.desc}}</textarea>
<button class="btn btn-primary">Save</button>
<button class="btn">Cancel</button>
-->