<select>
	{{#each selectedLayer.selectedLayer.collectionTags}}
		<option value="{{key}}">{{key}}</option>
	{{/each}}
</select>

<dl class="dl">
	{{#each tags}}
		<dt>
			<a href="#" class="remove-tag" data-id="{{id}}">
				<i class="icon-trash"></i>
			</a>
			<div class="editable key" data-id="{{id}}" contenteditable="true">{{this.key}}</div>
		</dt>
		<dd>
			<div class="editable value" data-id="{{id}}" contenteditable="true">{{this.value}}</div>
		</dd>
	{{/each}}
</dl>

<a href="#" class="new-tag"><i class="icon-plus"></i></a>
{{#if tags}}
{{else}}
	<p>Click a polygon to see and edit it's data</p>
{{/if}}
